<div class="row">
  <div class="col-12 d-flex">
    <div class="flex-fill">
      {{#link-to "admin.index"}}
        <i class="fas fa-chevron-left"></i> Tillbaka
      {{/link-to}}
    </div>
  </div>
  <div class="col-12 col-md-8 order">
    {{#order-form
      order=order
      orderValidations=NewOrderValidations
      saveOrder=(action "saveOrder")
      deliverySources=deliverySources
      deliveryMethods=deliveryMethods
      statuses=statuses
      managingGroups=managingGroups
      pickupLocations=pickupLocations
      customerTypes=customerTypes
      orderTypes=orderTypes
      showAllValidations=showAllValidations
      isEditing=isEditing
    as |orderForm|}}
      <div class="row">
        <div class="col-12 order-header">
          <h2 class="order-header-title">
            Ny order
            <span class="badge badge-secondary ml-2">{{order.orderPath}}</span>
          </h2>
          <div class="order-header-tools">
            {{#bs-button
              type="primary"
              class="btn-sm"
              buttonType="submit"
              disabled=orderForm.form.isSubmitting
            }}
              Spara <i class="fas fa-check"></i>
              {{#if orderForm.form.isSubmitting}} <i class="fas fa-spinner fa-spin"></i> {{/if}}
            {{/bs-button}}
        </div>
        </div>
      </div>
    {{/order-form}}
  </div>
</div>
{{outlet}}
