<div class="d-flex justify-content-center">
  <div class="card login-form-card">
    <div class="card-body">
      <h5 class="card-title">Logga in i Fjärrkontrollen</h5>
      <BsButton @type="primary" @icon="glyphicon glyphicon-login" {{action "authenticate"}}>
        Logga in
      </BsButton>
    </div>
  </div>
</div>
{{outlet}}
